In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('Pokemon.csv')

In [11]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
df.drop(['#', 'Total', 'Type 1', 'Type 2', 'Generation', 'Legendary'], axis=1, inplace=True)
df.set_index('Name', inplace=True)

In [13]:
df

                       HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Name
Bulbasaur              45      49       49       65       65     45
Ivysaur                60      62       63       80       80     60
Venusaur               80      82       83      100      100     80
VenusaurMega Venusaur  80     100      123      122      120     80
Charmander             39      52       43       60       50     65
...                    ..     ...      ...      ...      ...    ...
Diancie                50     100      150      100      150     50
DiancieMega Diancie    50     160      110      160      110    110
HoopaHoopa Confined    80     110       60      150      130     70
HoopaHoopa Unbound     80     160       60      170      130     80
Volcanion              80     110      120      130       90     70

[800 rows x 6 columns]

In [14]:
df.corr()

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000